name: Go Test

on: [push] # プッシュ時に実行

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21 

      - name: Run Go tests
        run: go test 

